{% extends 'base.html' %}

{% block content %}
<script>
function vibe_state(state) {
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readystate == 4 && this.status == 200) {
			location.reload()
		}
	}
	xhttp.open("GET", "/api/vibe/"+state, true)
	xhttp.send()
}
</script>
<h1>Welcome to the piVibe Web App!</h1>
<button type="button" onclick="vibe_state('ON')">On</button>
<button type="button" onclick="vibe_state('OFF')">Off</button>
<br/>
<button type="button" onclick="vibe_state('Low')">Low</button>
<button type="button" onclick="vibe_state('Medium')">Medium</button>
<button type="button" onclick="vibe_state('High')">High</button>
<button type="button" onclick="vibe_state('Waves')">Waves</button>
{% endblock %}